/* 
  Default and simple styles file for Yasb. 
  For configuration options, visit: https://github.com/amnweb/yasb/wiki
*/
:root {
  --foreground: #cdccce;
  --background: #140e1a;
  --cursor-bg: #e0def4;
  --cursor-border: #e0def4;
  --cursor-fg: #140e1a;
  --selection-bg: #3d375e;
  --selection-fg: #cdccce;
  --ansi-black: #140e1a;
  --ansi-red: #ff6767;
  --ansi-green: #8effd9;
  --ansi-yellow: #ffca85;
  --ansi-blue: #f477ff;
  --ansi-magenta: #e92bff;
  --ansi-cyan: #4eddff;
  --ansi-white: #050406;
  --bright-black: #2d2d2d;
  --bright-red: #ffca85;
  --bright-green: #a277ff;
  --bright-yellow: #ffca85;
  --bright-blue: #a277ff;
  --bright-magenta: #61ffca;
  --bright-cyan: #61ffca;
  --bright-white: #edecee;
  --menu-bg-hover: rgba(255, 255, 255, 0.06);
  --standard-font: "Maple Mono NF", sans-serif;
  --icon-font: "JetBrainsMono NFP", sans-serif;
  --ui-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--foreground);
  font-weight: 600;
  font-family: var(--standard-font);
}

/* GENERAL CONFIGURATIONS */
.yasb-bar {
  background-color: var(--background);
}

.widget {
  margin: 0 2px;
  padding: 0 2px;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0);
}

/* Common widget styles */
.icon {
  font-size: 14px;
  font-family: var(--icon-font);
  padding: 0 6px;
}

.widget .label {
  font-size: 14px;
}

/* Menu common styles */
.home-menu,
.audio-menu,
.calendar,
.pomodoro-menu {
  background-color: var(--background);
}

/* LEFT WIDGETS */
.home-widget {
  padding-bottom: 1px;
}

.home-widget .icon {
  font-size: 22px;
}

/* HOME WIDGET DROPDOWN */
.home-menu .menu-item {
  padding: 6px 48px 7px 16px;
  font-family: var(--ui-font);
}

.home-menu .menu-item:hover {
  background-color: rgba(128, 130, 158, 0.15);
  color: #fff;
}

.home-menu .separator {
  max-height: 1px;
  background-color: rgba(128, 130, 158, 0.3);
}

/* KOMOREBI WORKSPACES WIDGET */
.komorebi-workspaces {
  margin: 4px -6px;
  border-radius: 10px;
}

.komorebi-workspaces .offline-status {
  color: #627199;
  padding: 0 4px;
}

.komorebi-workspaces .ws-btn {
  font-size: 14px;
  border: none;
  color: #6c7086;
  margin: 0 1px;
  height: 30px;
  padding: 0 12px;
  border-bottom: 1px solid var(--background);
}

.komorebi-workspaces .ws-btn.populated {
  color: var(--foreground);
  border-bottom-color: var(--ansi-magenta);
}

.komorebi-workspaces .ws-btn.active {
  color: var(--ansi-cyan);
  width: 60px;
  border-bottom-color: var(--ansi-cyan);
}

/* ACTIVE WINDOW WIDGET */
.active-window-widget .icon {
  padding-right: 6px;
  border: none;
}

/* CLOCK WIDGET */
.clock-widget .widget-container .icon {
  padding-right: 6px;
  color: var(--ansi-cyan)
}

/* CALENDAR STYLES */
.calendar .icon {
  color: var(--ansi-cyan)
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: rgba(162, 177, 196, 0.85);
  font-family: var(--ui-font);
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: #fff;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: var(--ui-font);
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  margin-top: -20px;
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .month-label {
  font-weight: normal;
}

/* POMODORO WIDGET */
.pomodoro-widget {
  padding: 0;
}

.pomodoro-widget .label.paused,
.pomodoro-widget .icon.paused {
  color: #7d7e8b;
}

.pomodoro-widget .icon.work {
  color: var(--bright-cyan);
}

.pomodoro-widget .icon.break {
  color: var(--ansi-cyan);
}

/* Pomodoro menu */
.pomodoro-menu .header {
  font-size: 16px;
  max-height: 0px;
}

.pomodoro-menu .status {
  font-size: 18px;
  color: var(--ansi-blue);
}

.pomodoro-menu .session {
  font-size: 12px;
  color: #a6adc8;
}

.pomodoro-menu .button {
  background-color: #3f4053;
  color: #cdd6f4;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
}

.pomodoro-menu .button:hover {
  background-color: rgba(255, 255, 255, 0.158);
}

.pomodoro-menu .button.pause {
  background-color: var(--bright-cyan);
  color: #1e1e2e;
}

.pomodoro-menu .button:pressed {
  background-color: #5a5b6e;
}

/* SYSTEM WIDGETS */
.cpu-widget,
.memory-widget,
.volume-widget {
  margin-left: 0;
  padding: 0;
}

.volume-widget {
  padding-right: 6px;
}

.cpu-widget .icon {
  color: var(--ansi-red);
}

.memory-widget .icon {
  color: var(--bright-red);
}

.volume-widget .icon {
  color: var(--ansi-cyan);
}

/* AUDIO DROPDOWN */
.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 14px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
  background-color: var(--menu-bg-hover);
}

/* MEDIA WIDGET */
.media-widget {
  padding: 0;
}

.media-widget .btn,
.media-widget .icon {
  font-family: var(--icon-font);
  color: var(--ansi-red);
}

/* POWER WIDGET */
.power-menu-widget {
  padding: 0 8px 0 0;
}

.power-menu-widget .icon,
.power-menu-widget .label {
  color: var(--ansi-red);
  font-size: 16px;
}

.power-menu-widget .label {
  padding: 0 6px;
  font-size: 16px;
}

/* POWER MENU POPUP */
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(191, 202, 219, 0.726);
}

.power-menu-popup .button {
  padding: 0;
  width: 160px;
  height: 240px;
  border-radius: 4px;
  background-color: rgba(41, 42, 58, 0.75);
  color: white;
  border: 4px solid transparent;
}

.power-menu-popup .button.hover {
  background-color: rgb(55, 56, 75);
  border-color: rgb(55, 56, 75);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 54px;
  color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel {
  .icon {
    color: rgba(243, 139, 168, 0.55);
  }
  .label {
    color: rgba(243, 139, 168, 0.95);
  }
}
