[credential]
	helper = manager
[credential "helperselector"]
	selected = manager
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = BaskinB
	email = 54458253+BaskinB@users.noreply.github.com
[init]
	defaultBranch = main
[safe]
	directory = D:/FXServer/txData-qbox/Qbox_200387.base/resources/[hud]/baskin_compass
	directory = E:/FXServer/txData-mythic
	directory = E:/FXServer/sandbox-fivem
	directory = D:\\FXServer\\txData-tgrp\\TGRP
	directory = D:\\FXServer\\txData-tgrp\\TGRP
	directory = D:\\FXServer\\txData-tgrp\\TGRP
	directory = D:/FXServer/txData-tgrp/TGRP
